//tower {
//  enabled = true
//  endpoint = 'https://portal.dovetower.com/api'
//}
  
profiles {
    standard {
    	includeConfig "./conf/spot.config" 
    }
    spot { includeConfig "./conf/spot.config" }
    vip { includeConfig "./conf/vip.config" }
    local { includeConfig "./conf/local.config" }
}


