workDir = "s3://tower-ops-2/work"

aws.region =  'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws' 
aws.client.s3Acl = 'BucketOwnerFullControl'

process {
    executor = 'awsbatch'
    queue = 'vipQ'
    errorStrategy = 'retry'
    maxRetries = 3

    Label: minor {
        cpus = 1
        memory = "4 GB"
    }
    withLabel: mezzo {
        cpus = 2
        memory = "8 GB"
    }
    withLabel: alto {
        cpus = 4
        memory = "16 GB"
    }
    withLabel: median {
        cpus = 8
        memory = "32 GB"
    }
    withLabel: macro {
        cpus = 16
        memory = "96 GB"
    }
    withLabel: malform {
        cpus = 30
        memory = "120 GB"
    }
    withLabel: large {
        cpus = 46
        memory = "150 GB"
    }
    withLabel: major {
        cpus = 62
        memory = "250 GB"
    }
    withLabel: cpu {
        cpus = 94
        memory = "350 GB"
    }
    withLabel: memory {
        cpus = 62
        memory = "500 GB"
    }
    withLabel: gpu {
        accelerator = 1
	    cpus = 6
        memory = "50 GB"
    }
}
